<div ng-cloak>
    <style>
        .boundary {
            fill: #000;
            stroke: #999;
        }
    </style>
    <div class="row">
        <div layout="row" layout-wrap layout-fill>
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="    padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2;">
                <i class="fa fa-list"  style="font-size:140%"></i>
                <b> Summary </b>

            </md-whiteframe>
        </div>

        <div class="row" style="    padding: 5px;margin: 5px; margin-left: 0px;padding-left: 0;    width: 100%;">
            <div class="col-xs-12 chartback">


                <div class="col-xs-12 headone " style="height: 30px;"
                        ><span> Production Activity and Utilization Summary </span></div>



                <style>

                    /*
                    .chart rect {
                      fill: steelblue;
                    }
                    */
                    .chart .legend {
                        fill: black;
                        font: 14px sans-serif;
                        text-anchor: start;
                        font-size: 12px;
                    }

                    .chart text {
                        fill: white;
                        font: 10px sans-serif;
                        text-anchor: end;
                    }

                    .chart .label {
                        fill: black;
                        font: 14px sans-serif;
                        text-anchor: end;
                    }

                    .bar:hover {
                        fill: brown;
                    }

                    .axis path,
                    .axis line {
                        fill: none;
                        stroke: #000;
                        shape-rendering: crispEdges;
                    }


                </style>
                <svg class="chart" style="width: 100%;" ></svg>

                <script>

                </script>

            </div>
        </div>


    </div>
</div>
</div>