
<div ng-cloak>
    <div class="row">
        <div layout="row" layout-wrap layout-fill>
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="    padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2;">

                <i class="fa fa-fw fa-table" style="font-size:140%"></i>
                <b>Daily Production</b>


            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="   padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2; margin-top: 5px">

<style>
    #md-date-pane3{
        width: 310px;
    }
    .md-calendar-day-header th {

        background: #337ab7;
        color: #fff;
    }
</style>
                <div style="    width: 100%;"> Select Filter</div>

                <md-divider></md-divider>
                <div style="clear: both"></div>

                <div style="    width: 100%;">
                    <div class="row">
                        <div class="col-md-2 pad">
                            <label>Chart Name</label>
                            <md-select ng-model="chartname" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="Province in harvestingProvince" value="{{Province}}"
                                           class="designL">{{Province}}
                                </md-option>
                            </md-select>
                        </div>
                        <!--<div class="col-md-2 pad">
                            <label>Region</label>
                            <md-select ng-model="Region" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="Region in harvestingRegion" value="{{Region.name}}">
                                    {{Region.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad">
                            <label>District</label>
                            <md-select ng-model="Distrik" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="Distrik in harvestingDistrik" value="{{Distrik}}">{{Distrik}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad">
                            <label>Petak No</label>
                            <md-select ng-model="Petak" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="Petak in harvestingPetak" value="{{Petak}}">{{Petak}}</md-option>
                            </md-select>
                        </div>
-->

                        <div class="col-md-2 pad datelist">
                            <label style="float: left">Date</label>

                          <!--  <div style="width: 200px;clear: both">
                                <input type="text" value="26/05/2015" name="daterange" class="pull-right">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            </div>-->
                            <md-datepicker style="    color: #373737;
     margin: 0;
     float: left;
     clear: both;" ng-model="user.submissionDate" md-placeholder="26/05/2015" ></md-datepicker>
                        </div>
                        <div class="col-md-2 pad" style="text-align: center">
                            <md-button style="    background-color: rgb(16,108,200);color: #FFF;" ng-click="changeDateList()" class="md-primary">
                                View
                            </md-button>
                        </div>

                    </div>


                </div>


            </md-whiteframe>

            <div class="row" style="    padding: 5px;margin: 5px; margin-left: 0px;padding-left: 0;    width: 100%;">
                <div class="col-xs-7 "  >
                    <div class="col-xs-12 chartback">
                        <div class="col-xs-12 headone"><span>{{label1}} </span></div>
                        <div class="col-xs-12" style="text-align: center; height:730px;">
                            <style>
                                svg text{
                                    font-size:11px;
                                }
                                rect{
                                    shape-rendering:crispEdges;
                                }
                            </style>

                            <div id="bipart" ></div>

                        </div>

                    </div>
                </div>
                <div class="col-xs-5 "  >
                    <div class="col-xs-12 chartback">

                        <!--<div class="col-xs-12 headone"><span>Production Chart</span></div>
                        <div class="col-xs-12" style="text-align: center;">
                            <div  style="text-align: center;width: 200px;height: 80px;">

                                <span class="sublabel" style="  ">Daily Production</span>
                                <md-progress-linear md-mode="determinate" value="{{startvalue}}"
                                        ></md-progress-linear>
                                <span class="sublabel" style="">MTD Production</span>
                                <md-progress-linear class="md-warn" md-mode="determinate"
                                                    value="{{sendvalue}}"></md-progress-linear>

                            </div>


                        </div>-->

                        <div class="col-xs-12 headone"><span>{{label2}} </span></div>
                        <div class="col-xs-12" >
                            <div  style="text-align: center;">

                                <table class = "table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Actual</th>
                                        <th>Target</th>
                                        <th>{{label5}}</th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="data in chartAllData" ng-if="'AREA_1' != data.project && 'AREA_2' != data.project && 'TOTAL' != data.project">
                                        <td >{{data.project}}</td>
                                        <td>{{data.Actual | number:2}} </td>
                                        <td>{{data.Target | number:2}}</td>
                                        <td>{{data.ACH | number:2}}</td>


                                    </tr>
                                    <tr ng-repeat="data in chartAllData" ng-if="'AREA_1' == data.project">
                                        <td >{{data.project}}</td>
                                        <td>{{data.Actual | number:2}} </td>
                                        <td>{{data.Target | number:2}}</td>
                                        <td>{{data.ACH | number:2}}</td>


                                    </tr>
                                    <tr ng-repeat="data in chartAllData" ng-if="'AREA_2' == data.project">
                                        <td >{{data.project}}</td>
                                        <td>{{data.Actual | number:2}} </td>
                                        <td>{{data.Target | number:2}}</td>
                                        <td>{{data.ACH | number:2}}</td>


                                    </tr>
                                    <tr ng-repeat="data in chartAllData" ng-if="'TOTAL' == data.project">
                                        <td >{{data.project}}</td>
                                        <td>{{data.Actual | number:2}} </td>
                                        <td>{{data.Target | number:2}}</td>
                                        <td>{{data.ACH | number:2}}</td>


                                    </tr>

                                    </tbody>
                                </table>

                                <script>



                                </script>


                            </div>


                        </div>
                    </div>
                </div>

        </div>
            <div class="row" style="    padding: 5px;margin: 5px; margin-left: 0px;padding-left: 0;    width: 100%;">
                <div class="col-xs-12 "  >
                    <div class="col-xs-12 chartback">
                        <div class="col-xs-12 headone"><span>{{label3}}  </span></div>
                        <div class="col-xs-12" style="text-align: center;">


                            <div class="table-responsive" style="font-size: 11px;    position: relative;
    top: 19px;">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr >
                                        <th  width="7%" style="text-align: center">{{label5}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[0] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[1] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[2] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[3] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[4] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[5] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[6] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[7] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[8] | number:2}}</th>
                                        <th style="text-align: center" >{{chartdataRdisplay[9] | number:2}}</th>

                                    </tr>
                                    </thead>
                                   
                                </table>
                            </div>

                        </div>
                        <div class="col-xs-12" style="text-align: center;">


                            <div id="bipartNext" ></div>

                        </div>

                    </div>
                </div>


            </div>

            <div class="row" style="    padding: 5px;margin: 5px; margin-left: 0px;padding-left: 0;    width: 100%;">

                <div class="col-xs-12 "  >
                    <div class="col-xs-12 chartback">
                            <div class="col-xs-12">

                                <div class="col-xs-12 "  >
                                    <div class="col-xs-12 headone"><span>{{label4}} </span></div>
                                    <div class="col-xs-12 ">
                                        <div id="splinemain"></div>

                                    </div>
                                </div>

                               <!-- <div class="col-xs-7"  >
                                    <div class="col-xs-12 headone"><span>Numbers </span></div>
                                    <div class="col-xs-12 ">

                                        <table class = "table table-striped">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Total</th>
                                                <th>Target</th>
                                                <th>Actual</th>
                                                <th>Difference</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td>Area 1</td>
                                                <td>6000</td>
                                                <td>6000</td>
                                                <td>5500</td>
                                                <td>-500</td>
                                            </tr>

                                            <tr>
                                                <td>Area 2</td>
                                                <td>4800</td>
                                                <td>4800</td>
                                                <td>4000</td>
                                                <td>-800</td>
                                            </tr>

                                            <tr>
                                                <td>Total</td>
                                                <td>10800</td>
                                                <td>10800</td>
                                                <td>9500</td>
                                                <td>-1300</td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>-->


                            </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
     </div>
</div>
