<div ng-cloak>
    <div class="row">
        <div layout="row"  layout-wrap layout-fill >
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="    padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2;">
                <i class="fa fa-bar-chart"  style="font-size:140%"></i>
                <b>Cost</b>



            </md-whiteframe>
            <!--
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="   padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2; margin-top: 5px">


                <div  style="    width: 100%;" >Select Filter</div>

                <md-divider ></md-divider>
                <div style="clear: both"></div>

                <div style="    width: 100%;" >
                    <div class="row">
                        <div class="col-md-2 pad">
                            <label>Province</label>
                            <md-select ng-model="size" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="size in sizes" value="{{size}}" class="designL">{{size}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad">
                            <label>Region</label>
                            <md-select ng-model="name" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="datestate in state" value="{{datestate.name}}">{{datestate.name}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad">
                            <label>District</label>
                            <md-select ng-model="cityname" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="citysize in city" value="{{citysize}}">{{citysize}}</md-option>
                            </md-select>
                        </div>






                        <div class="col-md-2 pad" style="text-align: center">
                            <md-button  style="    background-color: rgb(16,108,200);color: #FFF;" class="md-primary">View</md-button>
                        </div>

                    </div>


                </div>


            </md-whiteframe>


-->
            <style>
                table{
                    color: black;
                }
                .col_border{
                    border: 1px solid #ccc;
                    font-size:13px;
                    padding: 4px !important;
                }

                .col_mid{

                    text-align: center;
                }

                .col_mid1{
                    width:100%;
                    text-indent: 20px;
                }

                .text_head {
                    font-size:13px;
                    background-color:#0D96B4 !important;
                    color: #fff;
                }




            </style>

            <div class="row" style="    width: 100%;
                 padding: 5px;
                 margin: 5px;
                margin-left: 0px;
                padding-left: 0;">
                <div class="col-xs-12 ">
                    <div class="col-xs-12 chartback">
                        <div class="col-xs-12 headone">
                            <span>Daily Financial Performance</span></div>

                        <div class="col-xs-12" style="">

                            <table class = "table table-hover" style="margin-top:10px;">
                                <thead>
                                <tr>
                                    <th class="text_head" style="border:solid #ccc 1px; background-color: rgba(91, 179, 221, 0.8);" >Sales Factors</th>
                                    <th class="text_head" style="border:solid #ccc 1px; background-color: rgba(91, 179, 221, 0.8);   padding-bottom: 0; text-align: center;">Prev Day
                                        <table class="table" style="   margin-bottom: 0;">
                                            <tr>
                                                <td  class="text_head" style=" background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >Actual</td>

                                            </tr>

                                        </table>
                                    </th>

                                    <th class="text_head" colspan="2" style="border:solid #ccc 1px; background-color: rgba(91, 179, 221, 0.8);   padding-bottom: 0; text-align: center;">Today
                                        <table class="table" style="    margin-bottom: 0;">
                                            <tr>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;"  >Actual</td>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >Target</td>
                                            </tr>

                                        </table>
                                    </th>

                                    <th class="text_head" colspan="3" style="border:solid #ccc 1px; background-color: rgba(91, 179, 221, 0.8);   padding-bottom: 0; text-align: center;">(%) Cost VS Revenue
                                        <table class="table" style="    margin-bottom: 0;">
                                            <tr>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >Act</td>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >RFC</td>
                                                <td class="text_head"  style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >DEV</td>
                                            </tr>

                                        </table>
                                    </th>

                                    <th class="text_head" colspan="2" style="border:solid #ccc 1px;  background-color: rgba(91, 179, 221, 0.8);  padding-bottom: 0; text-align: center;">MTD
                                        <table class="table" style="    margin-bottom: 0;">
                                            <tr>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >MTD </br>Actual</td>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >MTD </br>Target</td>

                                        </table>
                                    </th>

                                    <th class="text_head" colspan="3" style="border:solid #ccc 1px;  background-color: rgba(91, 179, 221, 0.8);  padding-bottom: 0; text-align: center;">(%) Cost VS Revenue
                                        <table class="table" style="    margin-bottom: 0;">
                                            <tr>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >Act</td>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >RFC</td>
                                                <td class="text_head"  style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >Actual</td>
                                            </tr>

                                        </table>
                                    </th>

                                    <th class="text_head" colspan="2" style="border:solid #ccc 1px; background-color: rgba(91, 179, 221, 0.8);   padding-bottom: 0; text-align: center;">INITIATIVE STRATEGY
                                        <table class="table" style="    margin-bottom: 0;">
                                            <tr>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >MTD</td>
                                                <td  class="text_head" style="background-color: rgba(91, 179, 221, 0.8); padding-top: 0;padding-bottom: 0;" >Target</td>
                                            </tr>

                                        </table>
                                    </th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="data in tableData">
                                    <td class="col_border" style="background: #f5f5f5">{{data.Name  }}</td>
                                    <td class="col_border">{{data.PrevDayActual | number:2}}</td>
                                    <td class="col_border">{{data.TodayActual | number:2}}</td>
                                    <td class="col_border">{{data.TodayTarget| number:2 }}</td>
                                    <td class="col_border">{{data.RevenueACT | number:2 }}</td>
                                    <td class="col_border">{{data.RevenueRFC | number:2}}</td>
                                    <td class="col_border"> {{data.RevenueDEV | number:2}}</td>
                                    <td class="col_border">{{data.MTDActual | number:2}}</td>
                                    <td class="col_border">{{data.MTDTarget | number:2}}</td>
                                    <td class="col_border">{{data.Revenue2ACT | number:2}}</td>
                                    <td class="col_border">{{data.Revenue2RFC | number:2}}</td>
                                    <td class="col_border"> {{data.Revenue2Actual | number:2 }}</td>
                                    <td class="col_border">{{data.StratMTD | number:2}}</td>
                                    <td class="col_border">{{data.StratTarget | number:2}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </div>






        </div>
    </div>
</div>