<div ng-cloak>
    <div class="row">
        <div layout="row"  layout-wrap layout-fill >
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="    padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2;">
                <i class="fa fa-bar-chart"  style="font-size:140%"></i>
                <b>Revenue</b>



            </md-whiteframe>

            <div class="row" style="    width: 100%;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 0;" ng-init="P='dataMHUTJL2'">
                <div class="col-xs-12 ">
                    <div class="col-xs-12 chartback">
                        <!--<div class="col-xs-12 headone">
                            <span>Revenue</span></div>-->
                        <div class="col-xs-12 " style="height:530;" >

                            <div class="container" >

                                <button data-ng-click="P='dataMHUTJL1';LoadProjectData('MHU-TJL')" type="button" class="btn btn-warning" style="margin-left: 54px; width: 85px;" onclick="removeColor();"> MHU-TJL </button>
                                <button data-ng-click="P='dataMHUTJL2';LoadProjectData('MHUTJL')" type="button" class="btn btn-primary" style="width: 85px;" onclick="removeColor();"> MHUTJL </button>
                                <button data-ng-click="P='dataMSJ';LoadProjectData('MSJ')" type="button" class="btn btn-success" style="width: 85px;" onclick="removeColor();"> MSJ </button>
                                <button data-ng-click="P='dataRBH';LoadProjectData('RBH')" type="button" class="btn btn-info" style="width: 85px;" onclick="removeColor();"> RBH </button>
                                <button data-ng-click="P='dataREVTTN';LoadProjectData('REVTTN')" type="button" class="btn btn-warning" style="width: 85px" onclick="removeColor();"> REVTTN </button>
                                <button data-ng-click="P='dataRJM';LoadProjectData('RJM')" type="button" class="btn btn-danger" style="width: 85px;"onclick="removeColor();"> RJM </button>
                                <button data-ng-click="P='dataRJN';LoadProjectData('RJN')" type="button" class="btn btn-primary" style="width: 85px;"onclick="removeColor();"> RJN </button>
                                <button data-ng-click="P='dataTMJ';LoadProjectData('TMJ')" type="button" class="btn btn-success" style="width: 85px;" onclick="removeColor();"> TMJ </button>
                                <button data-ng-click="P='dataTMJ';LoadProjectData('TMJ')" type="button" class="btn btn-success" style="width: 85px;" onclick="removeColor();"> TMJ </button>
                                <button data-ng-click="P='dataTTN';LoadProjectData('TTN')" type="button" class="btn btn-success" style="width: 85px;" onclick="removeColor();"> TTN </button>


                            </div>
                        </div>


                        <div class="col-xs-10" style="">

                            <style>
                                .chart {

                                }

                                .main text {
                                    font: 10px sans-serif;
                                }

                                .axis line, .axis path {
                                    shape-rendering: crispEdges;
                                    stroke: black;
                                    fill: none;
                                }

                                circle {
                                    fill: steelblue;
                                }

                            </style>

                            <div id="scatter1">
                                <!-- /the chart goes here -->
                            </div>
                        </div>

                        <script>
                            var data1 =[];
                            function removeColor(){
                                data1 = [];
                                var changeColorId=['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10',
                                    'r11','r12','r13','r14','r15','r16','r17','r18','r19','r20',
                                    'r21','r22','r23','r24','r25','r26','r27','r28','r29','r30','r31'];

                                document.getElementById('r1').style.fill="#286090";
                                for (i = 0; i < changeColorId.length; i++) {
                                    if((changeColorId[i]!='r1'))
                                    {
                                        document.getElementById(changeColorId[i]).style.fill="#ffffff";
                                    }
                                }
                            }
                            function changeColor(id){
                                data1.push(id);
                                console.log(data1);
                                document.getElementById(id).style.fill="#286090";
                                var changeColorId=['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10',
                                    'r11','r12','r13','r14','r15','r16','r17','r18','r19','r20',
                                    'r21','r22','r23','r24','r25','r26','r27','r28','r29','r30','r31'];

                                for(i=0;i<data1.length;i++){
                                    document.getElementById(data1[i]).style.fill="#286090";
                                }
/*

*/

                            }
                        </script>
                        <div class="col-xs-1" style="" >
                            <svg  width="200" height="530">

                                    <a ng-init="clicked1=1" ng-click="clicked1=clicked1+1;checkData(1,clicked1,P)"><rect x="10" id="r1" y="10" width="10" height="10" class="rectProjNameDefault"  id="r1" onclick="changeColor('r1')"/></a>
                                    <a ng-init="clicked2=0" ng-click="clicked2=clicked2+1;checkData(2,clicked2,P)"><rect x="10" y="27" width="10" height="10" class="rectProjNameSelected"  id="r2" onclick="changeColor('r2')" /></a>
                                    <a ng-init="clicked3=0" ng-click="clicked3=clicked3+1;checkData(3,clicked3,P)"><rect x="10" y="43" width="10" height="10" class="rectProjNameSelected"  id="r3" onclick="changeColor('r3')" /></a>
                                    <a ng-init="clicked4=0" ng-click="clicked4=clicked4+1;checkData(4,clicked4,P)"><rect x="10" y="60" width="10" height="10" class="rectProjNameSelected"  id="r4" onclick="changeColor('r4')" /></a>
                                    <a ng-init="clicked5=0" ng-click="clicked5=clicked5+1;checkData(5,clicked5,P)"><rect x="10" y="77" width="10" height="10" class="rectProjNameSelected"  id="r5" onclick="changeColor('r5')"/></a>
                                    <a ng-init="clicked6=0" ng-click="clicked6=clicked6+1;checkData(6,clicked6,P)"><rect x="10" y="94" width="10" height="10" class="rectProjNameSelected"  id="r6" onclick="changeColor('r6')"/></a>
                                    <a ng-init="clicked7=0" ng-click="clicked7=clicked7+1;checkData(7,clicked7,P)"><rect x="10" y="111" width="10" height="10" class="rectProjNameSelected"  id="r7" onclick="changeColor('r7')"/></a>
                                    <a ng-init="clicked8=0" ng-click="clicked8=clicked8+1;checkData(8,clicked8,P)"><rect x="10" y="128" width="10" height="10" class="rectProjNameSelected"  id="r8" onclick="changeColor('r8')"/></a>
                                    <a ng-init="clicked9=0" ng-click="clicked9=clicked9+1;checkData(9,clicked9,P)"><rect x="10" y="145" width="10" height="10" class="rectProjNameSelected"  id="r9" onclick="changeColor('r9')"/></a>
                                    <a ng-init="clicked10=0" ng-click="clicked10=clicked10+1;checkData(10,clicked10,P)"><rect x="10" y="162" width="10" height="10" class="rectProjNameSelected"  id="r10" onclick="changeColor('r10')"/></a>

                                    <a ng-init="clicked11=0" ng-click="clicked11=clicked11+1;checkData(11,clicked11)"><rect x="10" y="179" width="10" height="10" class="rectProjNameSelected"  id="r11" onclick="changeColor('r11')"/></a>
                                    <a ng-init="clicked12=0" ng-click="clicked12=clicked12+1;checkData(12,clicked12)"><rect x="10" y="196" width="10" height="10" class="rectProjNameSelected"  id="r12" onclick="changeColor('r12')"/></a>
                                    <a ng-init="clicked13=0" ng-click="clicked13=clicked13+1;checkData(13,clicked13)"><rect x="10" y="213" width="10" height="10" class="rectProjNameSelected"  id="r13" onclick="changeColor('r13')"/></a>
                                    <a ng-init="clicked14=0" ng-click="clicked14=clicked14+1;checkData(14,clicked14)"><rect x="10" y="230" width="10" height="10" class="rectProjNameSelected"  id="r14" onclick="changeColor('r14')"/></a>
                                    <a ng-init="clicked15=0" ng-click="clicked15=clicked15+1;checkData(15,clicked15)"><rect x="10" y="247" width="10" height="10" class="rectProjNameSelected"  id="r15" onclick="changeColor('r15')"/></a>
                                    <a ng-init="clicked16=0" ng-click="clicked16=clicked16+1;checkData(16,clicked16)"><rect x="10" y="264" width="10" height="10" class="rectProjNameSelected"  id="r16" onclick="changeColor('r16')"/></a>
                                    <a ng-init="clicked17=0" ng-click="clicked17=clicked17+1;checkData(17,clicked17)"><rect x="10" y="281" width="10" height="10" class="rectProjNameSelected"  id="r17" onclick="changeColor('r17')"/></a>
                                    <a ng-init="clicked18=0" ng-click="clicked18=clicked18+1;checkData(18,clicked18)"><rect x="10" y="298" width="10" height="10" class="rectProjNameSelected"  id="r18" onclick="changeColor('r18')"/></a>
                                    <a ng-init="clicked19=0" ng-click="clicked19=clicked19+1;checkData(19,clicked19)"><rect x="10" y="315" width="10" height="10" class="rectProjNameSelected"  id="r19" onclick="changeColor('r19')"/></a>
                                    <a ng-init="clicked20=0" ng-click="clicked20=clicked20+1;checkData(20,clicked20)"><rect x="10" y="332" width="10" height="10" class="rectProjNameSelected"  id="r20" onclick="changeColor('r20')"/></a>

                                    <a ng-init="clicked21=0" ng-click="clicked21=clicked21+1;checkData(21,clicked21)"><rect x="10" y="349" width="10" height="10" class="rectProjNameSelected" id="r21" onclick="changeColor('r21')"/></a>
                                    <a ng-init="clicked22=0" ng-click="clicked22=clicked22+1;checkData(22,clicked22)"><rect x="10" y="366" width="10" height="10" class="rectProjNameSelected" id="r22" onclick="changeColor('r22')"/></a>
                                    <a ng-init="clicked23=0" ng-click="clicked23=clicked23+1;checkData(23,clicked23)"><rect x="10" y="383" width="10" height="10" class="rectProjNameSelected" id="r23" onclick="changeColor('r23')"/></a>
                                    <a ng-init="clicked24=0" ng-click="clicked24=clicked24+1;checkData(24,clicked24)"><rect x="10" y="400" width="10" height="10" class="rectProjNameSelected" id="r24" onclick="changeColor('r24')"/></a>
                                    <a ng-init="clicked25=0" ng-click="clicked25=clicked25+1;checkData(25,clicked25)"><rect x="10" y="417" width="10" height="10" class="rectProjNameSelected" id="r25" onclick="changeColor('r25')"/></a>
                                    <a ng-init="clicked26=0" ng-click="clicked26=clicked26+1;checkData(26,clicked26)"><rect x="10" y="434" width="10" height="10" class="rectProjNameSelected" id="r26" onclick="changeColor('r26')"/></a>
                                    <a ng-init="clicked27=0" ng-click="clicked27=clicked27+1;checkData(27,clicked27)"><rect x="10" y="451" width="10" height="10" class="rectProjNameSelected" id="r27" onclick="changeColor('r27')"/></a>
                                    <a ng-init="clicked28=0" ng-click="clicked28=clicked28+1;checkData(28,clicked28)"><rect x="10" y="468" width="10" height="10" class="rectProjNameSelected" id="r28" onclick="changeColor('r28')"/></a>
                                    <a ng-init="clicked29=0" ng-click="clicked29=clicked29+1;checkData(29,clicked29)"><rect x="10" y="485" width="10" height="10" class="rectProjNameSelected" id="r29" onclick="changeColor('r29')"/></a>
                                    <a ng-init="clicked30=0" ng-click="clicked30=clicked30+1;checkData(30,clicked30)"><rect x="10" y="502" width="10" height="10" class="rectProjNameSelected" id="r30" onclick="changeColor('r30')"/></a>
                                    <a ng-init="clicked31=0" ng-click="clicked31=clicked31+1;checkData(31,clicked31)"><rect x="10" y="519" width="10" height="10" class="rectProjNameSelected" id="r31" onclick="changeColor('r31')"/></a>
                                  <!--  <a ng-init="clickedall=0" ng-click="clickedall=clickedall+1;checkData(0,clickedall)"> <rect  x="40" y="10" width="10" height="10" class="rectProjNameDefault"  /></a>-->




                               <!-- <text x="57" y="21">Select All</text>-->
                                <!--distance between each rectabgle=17-->
                                <text x="25" y="21">1</text>'
                                <text x="26" y="39">2</text>
                                <text x="26" y="55">3</text>
                                <text x="26" y="72">4</text>
                                <text x="26" y="88">5</text>
                                <text x="26" y="106">6</text>
                                <text x="26" y="122">7</text>
                                <text x="26" y="139">8</text>
                                <text x="26" y="156">9</text>
                                <text x="24" y="174">10</text>

                                <text x="24" y="192">11</text>
                                <text x="24" y="208">12</text>
                                <text x="24" y="225">13</text>
                                <text x="24" y="242">14</text>
                                <text x="24" y="259">15</text>
                                <text x="24" y="276">16</text>
                                <text x="24" y="293">17</text>
                                <text x="24" y="309">18</text>
                                <text x="24" y="326">19</text>
                                <text x="25" y="344">20</text>

                                <text x="25" y="360">21</text>
                                <text x="25" y="376">22</text>
                                <text x="25" y="394">23</text>

                                <text x="25" y="412">24</text>
                                <text x="25" y="429">25</text>
                                <text x="25" y="445">26</text>

                                <text x="25" y="462">27</text>
                                <text x="25" y="478">28</text>
                                <text x="25" y="495">29</text>
                                <text x="25" y="512">30</text>
                                <text x="25" y="529">31</text>
                                <!--
ci
                                                                  <text x="19" y = "10">1</text>

                                -->
                            </svg>

                        </div>

                    </div>


                </div>
            </div>






        </div>
    </div>
</div>



