<div ng-cloak >
    <div class="row">
        <style>
            svg .c3-target-data{
                display: none !important;
            }
        </style>
        <div layout="row"  layout-wrap layout-fill >
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="    padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2;">
                <i class="fa fa-fw fa-dashboard"
                   style="font-size:140%"
                        >
                </i>
                <b>Production Activity and Utilization
                </b>
               <div style="float: right"><a  href="/#/kpi2" class="btn">Summary</a></div>



            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="   padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2; margin-top: 5px">


                <div  style="    width: 100%;" >Select Filter</div>

                <md-divider ></md-divider>
                <div style="clear: both"></div>

                <div style="    width: 100%;" >
                    <div class="row">
                        <div class="col-md-2 pad">
                            <label>Project</label>
                            <md-select ng-model="size" style="color: #373737;margin: 0;" placeholder="Select" >
                                <md-option ng-repeat="size in sizes" value="{{size}}" class="designL">{{size}}</md-option>
                            </md-select>
                        </div>


                        <div class="col-md-2 pad datelist">
                            <label style="float: left">Date</label>
                            <md-datepicker style="    color: #373737;margin: 0;float: left;clear: both;"
                                           md-placeholder="29/09/2015"     ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
                        </div>

                        <div class="col-md-2 pad" style="text-align: center">
                            <md-button  style="    background-color: rgb(16,108,200);color: #FFF;" class="md-primary" ng-click="changeDateList()">View</md-button>
                        </div>

                    </div>


                </div>


            </md-whiteframe>
            <div class="row" style="    width: 100%;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 0;">
                <div class="col-xs-12 ">
                    <div class="col-xs-12 chartback">
                        <div class="col-xs-12 headone">  <span>Production Activation Utilization</span></div>
                        <div class="col-xs-12 ">


                            <table class="table" style="text-align: center;">
                                <thead>
                                <tr valign="top">
                                    <th></th>
                                    <th >DIST(m)</th>
                                    <th>SMU(hrs)</th>
                                    <th>PROD(bcm)</th>

                                    <th style="    padding-bottom: 0; text-align: center;">PRODUCTION
                                        <table class="table" style="    margin-bottom: 0;font-size: 12px;">
                                            <tr>
                                                <td  style="padding-top: 0;padding-bottom: 0;background: #f1f1f1;    padding: 5px;
    font-size: 10px;" >ACTUAL(bcm/hr)</td>
                                                <td style="padding-top: 0;padding-bottom: 0;background: #f1f1f1;    padding: 5px;
    font-size: 10px;">TARGET(bcm/hr)</td>
                                                <td style="padding-top: 0;padding-bottom: 0;background: #f1f1f1;    padding: 5px;
    font-size: 10px;">ACH(%)</td>
                                            </tr>

                                        </table>
                                    </th>

                                    <th style="    padding-bottom: 0;text-align: center;">UTILIZATION
                                        <table class="table" style="    margin-bottom: 0;font-size: 12px;">
                                            <tbody>
                                            <tr>
                                                <td  style="padding-top: 0;padding-bottom: 0;background: #f1f1f1;    padding: 5px;
    font-size: 10px;" >ACTUAL(hr)</td>
                                                <td style="padding-top: 0;padding-bottom: 0;background: #f1f1f1;    padding: 5px;
    font-size: 10px;">TARGET(hr)</td>
                                                <td style="padding-top: 0;padding-bottom: 0;background: #f1f1f1;    padding: 5px;
    font-size: 10px;">ACH(%)</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr valign="top" style="  padding-top: 0;padding-bottom: 0;text-align: center; margin-top: 0px; margin-bottom: 0px;">
                                    <td>EXAVATOR AVERAGE</td>
                                    <td>{{ExcaRdata[0].DIST | number:2}}</td>
                                    <td>{{ExcaRdata[0].SMU | number:2}}</td>
                                    <td>{{ExcaRdata[0].PROD | number:2}}</td>


                                    <td >
                                        <table class='table borderless'>

                                            <tr>
                                                <td style="border-top: none;padding: 0;">{{ExcaRdata[0].PROD_ACTUAL_EXCAVATOR | number:2}}</td>
                                                <td style="border-top: none;padding: 0;">{{ExcaRdata[0].PROD_TARGET_EXCAVATOR | number:2}}</td>
                                                <td style="border-top: none;padding: 0;">{{ExcaRdata[0].PROD_ACH_EXCAVATOR | number:2}}</td>

                                            </tr>

                                        </table>
                                    </td>

                                    <td>
                                        <table class="table borderless">

                                            <tr>
                                                <td style="border-top: none;padding: 0;">{{ExcaRdata[0].UTL_ACTUAL_EXCAVATOR | number:2}}</td>
                                                <td style="border-top: none;padding: 0;">{{ExcaRdata[0].UTL_TARGET_EXCAVATOR | number:2}}</td>
                                                <td style="border-top: none;padding: 0;">{{ExcaRdata[0].UTL_ACH_EXCAVATOR | number:2}}</td>

                                            </tr>

                                        </table>
                                    </td>

                                </tr>


                                <tr valign="top" style="   padding-top: 0;padding-bottom: 0;text-align: center; margin-top: 0px; margin-bottom: 0px;">
                                    <td>HAULER AVERAGE</td>
                                    <td>{{HaulRdata[0].DIST | number:2}}</td>
                                    <td>{{HaulRdata[0].SMU | number:2}}</td>
                                    <td>{{HaulRdata[0].PROD | number:2}}</td>
                                    <td>
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td style="border-top: none;padding: 0;">{{HaulRdata[0].PROD_ACTUAL_HAULER | number:2}}</td>
                                                <td style="border-top: none;padding: 0;">{{HaulRdata[0].PROD_TARGET_HAULER | number:2}}</td>
                                                <td style="border-top: none;padding: 0;">{{HaulRdata[0].PROD_ACH_HAULER | number:2}}</td>
               </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                    <td valign="top">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td style="border-top: none;padding: 0;">{{HaulRdata[0].UTL_ACTUAL_HAULER}}</td>
                                                <td style="border-top: none;padding: 0;">{{HaulRdata[0].UTL_TARGET_HAULER}}</td>
                                                <td style="border-top: none;padding: 0;">{{HaulRdata[0].UTL_ACH_HAULER}}</td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr valign="top">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>


                        <div class="col-xs-12" style="    padding: 0">
                            <div class="col-xs-6" style="    padding: 0">
                                <div class="col-xs-12 headone">  <span>Distance(m)</span></div>

                                <div id="dashboardhistogram"></div>


                            </div>

                            <div class="col-xs-6" style="    padding: 0">


                                <div class="col-xs-3" style="background: #f1f1f1;
    border: #ccc solid 1px;
    border-radius: 3px;
    margin: 5px;width: 250px;
    height: 205px;">
                                    <div class="col-xs-12" style="margin-top: 10px; text-align: center;">
                                        Productivity
                                    </div>
                                    ACH- <span id="dataadd4"></span>
                                    <div class="col-xs-12" style="margin-left:10px;">


                                        <!--
                                                                                <div id="dashboardpi"></div>
                                        -->

                                        <div style="width: 151px; height: 150px; margin: 5px auto">
                                            <div id="container1" style=" margin-top:-26px;margin-left:11px;width: 73px; height: 35px; "></div>
                                            <div id="container2"  style=" margin-top:38px; margin-left:11px;width: 150px; height: 86px; " ></div>

                                            <!-- <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>-->
                                        </div>
                                    </div>



                                </div>

                                <div class="col-xs-3  " style="width: 220px;height: 205px;background: #f1f1f1;
    border: #ccc solid 1px;
    border-radius: 3px;
    margin: 5px;">


                                    <div class="col-xs-12" style="margin-top: 10px;text-align: center">
                                        Utilization</div>
                                    <div class="col-xs-12" style="text-align: center;    padding: 0;">
                                        <div  style="text-align: left;">
                                            ACH- <span id="dataadd3"></span>
                                            </div>
                                        <span class="sublabel" style="    margin-top: 15px;" >Actual <span style="    display: block;
    float: right;

    font-size: 12px;
    color: #373737;" id="dataadd1" ></span>
                               <!-- <md-progress-linear md-mode="determinate" value="{{startvalue}}"
                                                    height="400"></md-progress-linear>-->
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar"  >

                                                </div>
                                            </div>
                                    </span>

                                       <span class="sublabel" style="    margin-top: 15px;" >Target <span style="    display: block;
    float: right;

    font-size: 12px;
    color: #373737;"  id="dataadd2" ></span>
                               <!-- <md-progress-linear md-mode="determinate" value="{{startvalue}}"
                                                    height="400"></md-progress-linear>-->
                                            <div class="progress">
                                                <div class="progress-bar progone" role="progressbar"   >

                                                </div>
                                            </div>
                                    </span>
                                    </div>
                                </div>



                                <div class="col-xs-3" style="background: #f1f1f1;
    border: #ccc solid 1px;
    border-radius: 3px;
    margin: 5px;width: 250px;
    height:167px;">

                                    <!--  <div class="col-xs-12 headone" style="margin-top: 20px;">  <span> SMU (hrs) </span></div>
  -->

                                    <div id="vucontainer" style="min-width: 220px; height: 163px; margin: 0 auto;"></div>
                                    <script>

                                    </script>

                                </div>


                                <div class="col-xs-3 "  style="width: 220px;background: #f1f1f1;
                                border: #ccc solid 1px;
                                border-radius: 3px;
                                margin: 5px;
                                height:167px;">
                                    <div style="text-align: center" class="col-xs-12 " style="margin-top: 20px;">
                                        <div class="col-xs-12" style="margin-top: 10px;    margin-bottom: 10px;text-align: center">
                                            Prod(bcm)</div>

                                        <svg id="fillgauge1" width="100%"  style="height: 110px" ></svg>


                                    </div>



                                </div>

                            </div>

                            <div class="col-xs-12" style="    padding: 0">



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>
</div>
</div>
