
/*@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}*/

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}
/*
@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}*/

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {

}
.side-nav {
    position: fixed;
    height: 100%;
    top: 52px;

    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.side-nav>li>a {
    width: 225px;
}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
}
.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.whiteframedemoBasicUsage md-whiteframe {
    background: #fff;
    margin: 30px;
    height: 100px; }
.selectdemoBasicUsage md-input-container {
    margin-right: 10px; }
.md-default-theme .md-calendar-day-header, .md-calendar-day-header {
    background: rgb(224,224,224) !important;
    color: rgba(0,0,0,0.87)  !important;

}
.inputdemoBasicUsage md-datepicker {
    margin-top: 18px; }
.inputdemoBasicUsage .md-datepicker-button {
    height: 36px;
    width: 36px;
    line-height: 36px; }
.inputdemoBasicUsage .md-datepicker-input-container {
    margin-left: 2px; }
md-autocomplete.md-default-theme , md-autocomplete {  background: rgb(250,250,250);}md-autocomplete.md-default-theme[disabled] , md-autocomplete[disabled] {    background: rgb(245,245,245);}md-autocomplete.md-default-theme button md-icon path , md-autocomplete button md-icon path {    fill: rgb(117,117,117);}md-autocomplete.md-default-theme button:after , md-autocomplete button:after {    background: rgba(117,117,117,0.3);}.md-autocomplete-suggestions-container.md-default-theme , .md-autocomplete-suggestions-container {  background: rgb(250,250,250);}.md-autocomplete-suggestions-container.md-default-theme li , .md-autocomplete-suggestions-container li {    color: rgb(33,33,33);}.md-autocomplete-suggestions-container.md-default-theme li .highlight , .md-autocomplete-suggestions-container li .highlight {      color: rgb(117,117,117);}.md-autocomplete-suggestions-container.md-default-theme li:hover, .md-autocomplete-suggestions-container li:hover, .md-autocomplete-suggestions-container.md-default-theme li.selected , .md-autocomplete-suggestions-container li.selected {      background: rgb(238,238,238);}md-bottom-sheet.md-default-theme , md-bottom-sheet {  background-color: rgb(250,250,250);  border-top-color: rgb(224,224,224);}md-bottom-sheet.md-default-theme .md-subheader , md-bottom-sheet .md-subheader {    background-color: rgb(250,250,250);}md-backdrop {  background-color: rgba(33,33,33,0.0);}md-backdrop.md-opaque.md-default-theme , md-backdrop.md-opaque {    background-color: rgba(33,33,33,1.0);}a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover , .md-button:not([disabled]):hover {  background-color: rgba(158,158,158,0.2);}a.md-button.md-default-theme:not([disabled]).md-focused, a.md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]).md-focused , .md-button:not([disabled]).md-focused {  background-color: rgba(158,158,158,0.2);}a.md-button.md-default-theme:not([disabled]).md-icon-button:hover, a.md-button:not([disabled]).md-icon-button:hover, .md-button.md-default-theme:not([disabled]).md-icon-button:hover , .md-button:not([disabled]).md-icon-button:hover {  background-color: transparent;}a.md-button.md-default-theme.md-raised, a.md-button.md-raised, .md-button.md-default-theme.md-raised , .md-button.md-raised {  color: rgba(0,0,0,0.87);  background-color: rgb(250,250,250);}a.md-button.md-default-theme.md-raised:not([disabled]) .md-icon, a.md-button.md-raised:not([disabled]) .md-icon, .md-button.md-default-theme.md-raised:not([disabled]) .md-icon , .md-button.md-raised:not([disabled]) .md-icon {    color: rgba(0,0,0,0.87);}a.md-button.md-default-theme.md-raised:not([disabled]):hover, a.md-button.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-raised:not([disabled]):hover , .md-button.md-raised:not([disabled]):hover {    background-color: rgb(250,250,250);}a.md-button.md-default-theme.md-raised:not([disabled]).md-focused, a.md-button.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-raised:not([disabled]).md-focused , .md-button.md-raised:not([disabled]).md-focused {    background-color: rgb(238,238,238);}a.md-button.md-default-theme.md-raised[disabled], a.md-button.md-raised[disabled], a.md-button.md-default-theme.md-fab[disabled], a.md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled] , .md-button.md-fab[disabled] {  background-color: rgba(0,0,0,0.12);}a.md-button.md-default-theme[disabled], a.md-button[disabled], .md-button.md-default-theme[disabled] , .md-button[disabled] {  background-color: transparent;}md-checkbox.md-default-theme.md-checked .md-ripple , md-checkbox.md-checked .md-ripple {  color: rgb(117,117,117);}md-checkbox.md-default-theme.md-checked .md-icon:after , md-checkbox.md-checked .md-icon:after {  border-color: rgb(238,238,238);}md-checkbox.md-default-theme[disabled].md-checked .md-icon , md-checkbox[disabled].md-checked .md-icon {  background-color: rgba(0,0,0,0.26);}md-chips.md-default-theme .md-chips , md-chips .md-chips {  box-shadow: 0 1px rgb(224,224,224);}md-chips.md-default-theme .md-chip , md-chips .md-chip {  background: rgb(224,224,224);  color: rgb(66,66,66);}md-chips.md-default-theme md-chip-remove .md-button md-icon path , md-chips md-chip-remove .md-button md-icon path {  fill: rgb(158,158,158);}.md-contact-suggestion span.md-contact-email {  color: rgb(189,189,189);}md-content.md-default-theme , md-content {  color: rgba(0,0,0,0.87);  background-color: rgb(255,255,255);}md-card.md-default-theme , md-card {  background-color: rgb(255,255,255);  border-radius: 2px;}.md-calendar.md-default-theme tr:last-child td , .md-calendar tr:last-child td {    border-bottom-color: rgb(238,238,238);}.md-default-theme .md-calendar-day-header ,  .md-calendar-day-header {  background: rgb(224,224,224);  color: rgba(0,0,0,0.87);}.md-default-theme .md-calendar-date.md-focus .md-calendar-date-selection-indicator ,  .md-calendar-date.md-focus .md-calendar-date-selection-indicator {  background: rgb(224,224,224);}.md-default-theme .md-calendar-date-selection-indicator:hover ,  .md-calendar-date-selection-indicator:hover {  background: rgb(224,224,224);}/** Theme styles for mdDatepicker. */md-datepicker.md-default-theme , md-datepicker {  background: rgb(255,255,255);}.md-default-theme .md-datepicker-input ,  .md-datepicker-input {  color: rgba(0,0,0,0.87);  background: rgb(255,255,255);}.md-default-theme .md-datepicker-input-container ,  .md-datepicker-input-container {  border-bottom-color: rgb(224,224,224);}.md-default-theme .md-datepicker-calendar-pane ,  .md-datepicker-calendar-pane {  border-color: rgb(224,224,224);}.md-default-theme .md-datepicker-calendar,  .md-datepicker-calendar, .md-default-theme .md-datepicker-input-mask-opaque ,  .md-datepicker-input-mask-opaque {  background: rgb(255,255,255);}md-dialog.md-default-theme , md-dialog {  border-radius: 4px;  background-color: rgb(255,255,255);}md-input-container.md-default-theme .md-input[disabled], md-input-container .md-input[disabled], md-input-container.md-default-theme .md-input [disabled] , md-input-container .md-input [disabled] {  border-bottom-color: transparent;  color: rgba(0,0,0,0.26);  background-image: linear-gradient(to right, rgba(0,0,0,0.26) 0%, rgba(0,0,0,0.26) 33%, transparent 0%);  background-image: -ms-linear-gradient(left, transparent 0%, rgba(0,0,0,0.26) 100%);}md-list.md-default-theme .md-proxy-focus.md-focused div.md-no-style , md-list .md-proxy-focus.md-focused div.md-no-style {  background-color: rgb(245,245,245);}md-list.md-default-theme md-list-item > .md-avatar-icon , md-list md-list-item > .md-avatar-icon {  background-color: rgba(0,0,0,0.26);  color: rgb(255,255,255);}md-list.md-default-theme md-list-item button , md-list md-list-item button {  background-color: rgb(255,255,255);}md-list.md-default-theme md-list-item button.md-button:not([disabled]):hover , md-list md-list-item button.md-button:not([disabled]):hover {    background-color: rgb(255,255,255);}md-menu-content.md-default-theme , md-menu-content {  background-color: rgb(255,255,255);}md-menu-content.md-default-theme md-menu-divider , md-menu-content md-menu-divider {    background-color: rgba(0,0,0,0.12);}md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus , md-menu-bar md-menu > button:focus {  outline: none;  background: rgb(238,238,238);}md-menu-bar.md-default-theme.md-open:not(.md-keyboard-mode) md-menu:hover > button , md-menu-bar.md-open:not(.md-keyboard-mode) md-menu:hover > button {  background-color: rgba(158,158,158,0.2);}md-menu-bar.md-default-theme:not(.md-keyboard-mode):not(.md-open) md-menu button:hover, md-menu-bar:not(.md-keyboard-mode):not(.md-open) md-menu button:hover, md-menu-bar.md-default-theme:not(.md-keyboard-mode):not(.md-open) md-menu button:focus , md-menu-bar:not(.md-keyboard-mode):not(.md-open) md-menu button:focus {  background: transparent;}md-menu-content.md-default-theme .md-menu.md-open > .md-button , md-menu-content .md-menu.md-open > .md-button {  background-color: rgba(158,158,158,0.2);}md-toolbar.md-default-theme.md-menu-toolbar , md-toolbar.md-menu-toolbar {  background-color: rgb(255,255,255);  color: rgba(0,0,0,0.87);}md-progress-circular.md-default-theme , md-progress-circular {  background-color: transparent;}md-select.md-default-theme[disabled] .md-select-value , md-select[disabled] .md-select-value {  border-bottom-color: transparent;  background-image: linear-gradient(to right, rgba(0,0,0,0.26) 0%, rgba(0,0,0,0.26) 33%, transparent 0%);  background-image: -ms-linear-gradient(left, transparent 0%, rgba(0,0,0,0.26) 100%);}md-select-menu.md-default-theme md-option:focus:not([selected]) , md-select-menu md-option:focus:not([selected]) {  background: rgb(238,238,238);}md-sidenav.md-default-theme , md-sidenav {  background-color: rgb(255,255,255);}md-slider.md-default-theme .md-track , md-slider .md-track {  background-color: rgba(0,0,0,0.26);}md-slider.md-default-theme .md-track-ticks , md-slider .md-track-ticks {  background-color: rgba(0,0,0,0.12);}md-slider.md-default-theme .md-focus-thumb , md-slider .md-focus-thumb {  background-color: rgba(0,0,0,0.54);}md-slider.md-default-theme .md-disabled-thumb , md-slider .md-disabled-thumb {  border-color: rgb(255,255,255);}md-slider.md-default-theme.md-min .md-thumb:after , md-slider.md-min .md-thumb:after {  background-color: rgb(255,255,255);}md-slider.md-default-theme[disabled]:not(.md-min) .md-thumb:after , md-slider[disabled]:not(.md-min) .md-thumb:after {  background-color: rgba(0,0,0,0.26);}.md-subheader.md-default-theme , .md-subheader {  color: rgba(0,0,0,0.54);  background-color: rgb(255,255,255);}md-switch.md-default-theme .md-ink-ripple , md-switch .md-ink-ripple {  color: rgb(158,158,158);}md-switch.md-default-theme .md-thumb , md-switch .md-thumb {  background-color: rgb(250,250,250);}md-switch.md-default-theme .md-bar , md-switch .md-bar {  background-color: rgb(158,158,158);}md-switch.md-default-theme[disabled] .md-thumb , md-switch[disabled] .md-thumb {  background-color: rgb(189,189,189);}md-switch.md-default-theme[disabled] .md-bar , md-switch[disabled] .md-bar {  background-color: rgba(0,0,0,0.12);}md-toast.md-default-theme , md-toast {  background-color: #323232;  color: rgb(250,250,250);}md-toast.md-default-theme .md-button , md-toast .md-button {    color: rgb(250,250,250);}md-tabs.md-default-theme md-tabs-wrapper , md-tabs md-tabs-wrapper {  background-color: transparent;  border-color: rgba(0,0,0,0.12);}md-tooltip.md-default-theme , md-tooltip {  color: rgb(255,255,255);}md-tooltip.md-default-theme .md-content , md-tooltip .md-content {    background-color: rgba(0,0,0,0.54);}
.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
    margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px; }
.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
    opacity: 0.54; }

.pad{
    padding-left: 10px;
    padding-right: 10px;
}
.pad .md-select-value{
    color: #373737 !important;
}
.datelist .md-datepicker-input{
    color: #373737 !important;
}
.datelist .md-button.md-icon-button{
    height: auto;
    width: auto;
}
.side-nav li a:hover, .side-nav li a:focus {
    outline: none;
    background-color: #c1c1c1 !important;
}


#test .arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}

#outer {
    background:#FFFFFF;
    border-radius: 5px;
    color: #000;
}

#div1, #div2, #div3, #div4 {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    float: left;
}

#div2 .arc {
    stroke-weight: 0.1;
    fill: #f0a417;
}

#div2 .arc2 {
    stroke-weight: 0.1;
    fill: #b00d08;
}

#div3 .arc {
    stroke-weight: 0.1;
    fill: #1d871b;
}


.selectedRadial {
    border-radius: 3px;
    background: #f4f4f4;
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,0.85);
}

.radial {
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;

}
.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;

    width: 193px;
}
.nav > li > a {

    padding: 10px 35px !important;
}
.chartback{
    background-color: #fff;
    padding: 12px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.headone{
    margin-bottom: 15px;
    padding: 0 !important;
    margin-top: 10px;

}
.headone span{
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 3px;
}
.mitslide .md-container {
    height: 15px;

}.mitslide .md-mode-determinate {
     background-color: #fff !important;
 }
.mitslide .md-bar {
    height: 15px!important;

}.mitslide .md-warn .md-bar {
     background-color: #009688 !important;

 }
.sublabel {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: left;
}
.lineone{
    color: #fff;    text-decoration: none;
    text-align: center; margin-bottom: 5px;    background: rgb(31, 119, 180);        border-radius: 3px;
    padding: 4px;display: block;
}
.lineone:hover{
    color: #fff;    text-decoration: none;
    text-align: center; margin-bottom: 5px;    background: #ccc;        border-radius: 3px;
    padding: 4px;display: block;
}
.lineone:focus{
    color: #fff;    text-decoration: none;
    text-align: center; margin-bottom: 5px;    background: #ccc;        border-radius: 3px;
    padding: 4px;display: block;
}
.lineone2{
    color: #fff;    text-decoration: none;
    text-align: center; margin-bottom: 5px;    background:#009688;        border-radius: 3px;
    padding: 4px;display: block;
}
.lineone2:hover{
    color: #fff;    text-decoration: none;
    text-align: center; margin-bottom: 5px;    background: #ccc;        border-radius: 3px;
    padding: 4px;display: block;
}
.lineone2:focus{
    color: #fff;    text-decoration: none;
    text-align: center; margin-bottom: 5px;    background: #ccc;        border-radius: 3px;
    padding: 4px;display: block;
}


.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

/*Added by Prateek*/
.rectProjNameDefault{
    fill:#286090;
    stroke:#1a0000;
    stroke-width:2;
    fill-opacity:0.5;
    stroke-opacity:0.9;

}

.rectProjNameSelected{
    fill:#ffffff;
    stroke:#1a0000;
    stroke-width:2;
    fill-opacity:0.5;
    stroke-opacity:0.9;
}